<!-- Stats Section -->
<section class="py-7 bg-gradient-dark position-relative">
    <div class="container">
        <div class="row">
            <!-- Docentes -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card card-blog card-plain text-center">
                    <div class="card-body p-3">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-xl mb-3">
                            <i class="material-symbols-rounded text-primary">groups</i>
                        </div>
                        <h2 class="text-white mb-0">25</h2>
                        <h5 class="text-white opacity-8">Docentes</h5>
                    </div>
                </div>
            </div>

            <!-- Estudiantes -->
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card card-blog card-plain text-center">
                    <div class="card-body p-3">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-xl mb-3">
                            <i class="material-symbols-rounded text-primary">school</i>
                        </div>
                        <h2 class="text-white mb-0">700</h2>
                        <h5 class="text-white opacity-8">Estudiantes</h5>
                    </div>
                </div>
            </div>

            <!-- Niveles Educativos -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="card card-blog card-plain text-center">
                    <div class="card-body p-3">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-xl mb-3">
                            <i class="material-symbols-rounded text-primary">layers</i>
                        </div>
                        <h2 class="text-white mb-0">3</h2>
                        <h5 class="text-white opacity-8">Niveles Educativos</h5>
                    </div>
                </div>
            </div>

            <!-- Años de historia -->
            <div class="col-lg-3 col-md-6">
                <div class="card card-blog card-plain text-center">
                    <div class="card-body p-3">
                        <div class="icon icon-shape bg-white shadow text-center border-radius-xl mb-3">
                            <i class="material-symbols-rounded text-primary">history</i>
                        </div>
                        <h2 class="text-white mb-0">24</h2>
                        <h5 class="text-white opacity-8">Años de historia</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
