<!-- Contact Section -->
<section class="py-7 position-relative">
    <div class="container">
        <!-- Section Title -->
        <div class="text-center mb-7">
            <h3 class="text-gradient text-primary mb-0">¡Contáctanos!</h3>
            <h2 class="mb-3">Información de <span class="text-primary">contacto</span></h2>
        </div>

        <div class="row mt-5">
            <!-- Contact Info -->
            <div class="col-lg-5 me-auto">
                <div class="card card-plain card-blog">
                    <div class="card-body p-3">
                        <!-- Address -->
                        <div class="d-flex mb-4">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-xl">
                                <i class="material-symbols-rounded text-white">location_on</i>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-1">Dirección</h5>
                                <p class="mb-0 text-sm">Entrada norte, Centro Comercial Managua,<br>1 cuadra arriba, 1/2 cuadra al sur.</p>
                            </div>
                        </div>

                        <!-- Phone -->
                        <div class="d-flex mb-4">
                            <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-xl">
                                <i class="material-symbols-rounded text-white">call</i>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-1">Teléfono</h5>
                                <p class="mb-0 text-sm">
                                    <a class="text-dark">2270-5587</a>
                                </p>
                            </div>
                        </div>

                        <!-- WhatsApp -->
                        <div class="d-flex mb-4">
                            <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-xl">
                                <i class="material-symbols-rounded text-white">chat</i>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-1">WhatsApp</h5>
                                <p class="mb-0 text-sm">
                                    <a href="https://wa.me/50557458368" target="_blank" class="text-dark">+505 5745 8368</a>
                                </p>
                            </div>
                        </div>

                        <!-- Email 1 -->
                        <div class="d-flex mb-4">
                            <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-xl">
                                <i class="material-symbols-rounded text-white">mail</i>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-1">Correo de Soporte</h5>
                                <p class="mb-0 text-sm">
                                    <a href="mailto:soporte@cbl-edu.com" class="text-dark">soporte&#64;cbl-edu.com</a>
                                </p>
                            </div>
                        </div>

                        <!-- Email 2 -->
                        <div class="d-flex">
                            <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-xl">
                                <i class="material-symbols-rounded text-white">mail</i>
                            </div>
                            <div class="ms-3">
                                <h5 class="mb-1">Correo General</h5>
                                <p class="mb-0 text-sm">
                                    <a href="mailto:info@cbl-edu.com" class="text-dark">info&#64;cbl-edu.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Google Maps -->
            <div class="col-lg-6 ms-auto mt-lg-0 mt-5">
                <div class="card card-plain h-100">
                    <div class="card-body p-3">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d975.2218103648834!2d-86.24670157880223!3d12.119866933385515!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73fe19e206a1a9%3A0xee504fc0b55cde55!2sColegio%20Bautista%20Libertad!5e0!3m2!1ses!2sni!4v1728104889966!5m2!1ses!2sni"
                            class="w-100 border-radius-xl"
                            height="400"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
