<!-- About Section -->
<section class="py-7 position-relative bg-gray-100">
    <div class="container">
        <!-- Section Title -->
        <div class="text-center mb-7">
            <h3 class="text-gradient text-primary mb-0">Acerca de Nosotros</h3>
            <h2 class="mb-3">Conócenos a <span class="text-primary">Detalle</span></h2>
        </div>

        <div class="row align-items-center">
            <!-- Imagen -->
            <div class="col-lg-5 me-auto">
                <div class="card card-plain border-radius-xl shadow-lg">
                    <img src="assets/material-kit-3/img/gallery/MisionVision/1-VM.jpg" class="img-fluid border-radius-lg" alt="Misión y Visión">
                    <div class="position-absolute top-0 start-0 w-100 h-100 rounded-xl"></div>
                </div>
            </div>

            <!-- Contenido Misión y Visión -->
            <div class="col-lg-6 ms-auto mt-lg-0 mt-5">
                <div class="card card-plain">
                    <div class="card-body p-4">
                        <!-- Misión -->
                        <div class="mb-5">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-xl mb-3">
                                <i class="material-symbols-rounded text-white">flag</i>
                            </div>
                            <h3 class="text-gradient text-primary">Misión</h3>
                            <p class="lead text-muted">
                                Formar niños (as) y jóvenes mediante un proceso educativo de calidad con principios cristianos, valores morales y éticos
                                que contribuyan al desarrollo de la comunidad.
                            </p>
                        </div>

                        <!-- Divider -->
                        <hr class="horizontal dark my-5">

                        <!-- Visión -->
                        <div>
                            <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-xl mb-3">
                                <i class="material-symbols-rounded text-white">visibility</i>
                            </div>
                            <h3 class="text-gradient text-success">Visión</h3>
                            <p class="lead text-muted">
                                Contribuir con la educación brindando a los estudiantes y jóvenes de la comunidad una preparación científica de calidad, ética y espiritual,
                                como agentes de cambios para el desarrollo sostenible en armonía con el medio ambiente,
                                que impulse el aprendizaje permanente para convivir con una cultura de paz y justicia social.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
